<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> uMonitor</title>
      <link rel="stylesheet" href="/static/switches.css">
  </head>
  <body bgcolor="#f1f3f5">
       {% include 'sidebar.html' %}
   <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/log">Log</a></li>
        <li class="breadcrumb-item active">{{ page.name }}</li>
      </ol>
    </nav>
       <div class="body">
            <img src="https://i.imgflip.com/4rsexl.png">
       </div>
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>